<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/df1bf70741.js" crossorigin="anonymous"></script>

    <script>
        const customColors = {
              'oscuro': {
                '50': '#f6f6f6',
                '100': '#e7e7e7',
                '200': '#d1d1d1',
                '300': '#b0b0b0',
                '400': '#888888',
                '500': '#6d6d6d',
                '600': '#5d5d5d',
                '700': '#4f4f4f',
                '800': '#454545',
                '900': '#3d3d3d',
                '950': '#000000',
            },
              'claro': {
                '50': '#ffffff',
                '100': '#efefef',
                '200': '#dcdcdc',
                '300': '#bdbdbd',
                '400': '#989898',
                '500': '#7c7c7c',
                '600': '#656565',
                '700': '#525252',
                '800': '#464646',
                '900': '#3d3d3d',
                '950': '#292929',
            },
              }
        tailwind.config = {
          theme: {
            extend: {
                colors: customColors, 
            }
          }
        }
      </script>
</head>
<body class="bg-oscuro-900">
    <header class="bg-oscuro-950 w-full h-14 flex items-center justify-center">
      <div class="w-12 h-12 mx-4">
        <img class="w-full h-full" src="https://i.pinimg.com/originals/fb/04/e0/fb04e08a284de9342c0458bd161c5505.png" alt="logo">
      </div>

      <h6 class="text-4xl font-mono text-white">BLOG</h6>

      <div class="w-80 px-2 py-1 hover:border hover:boder-white text-white mx-8 rounded-lg ease-in duration-100">
          <i class="fa-solid fa-house fa-lg"> </i>
          <p class="text-lg items-center inline ml-4">Home</p>
      </div> 

      <button href="#" class="text-white px-2 bg-oscuro-900 rounded-s-3xl h-10"><i class="fa-solid fa-magnifying-glass"></i></button>
      <input class="bg-oscuro-900 rounded-e-3xl h-10 pr-8 w-80 pl-2" type="text" placeholder="Busca tu usuario" >

      <div class="h-full flex items-center text-white m-6">
          <i class="fa-solid fa-plus fa-lg m-2"></i>
          <i class="fa-solid fa-bell fa-lg m-2"></i>
      </div>

      <div class="rounded-lg bg-oscuro-950 w-60 h-10 flex items-center hover:border hover:boder-white ">
        <div class="ml-1 flex items-center">
          <img src="https://www.pngarts.com/files/5/Avatar-Face-Transparent.png" alt="foto" class="w-8">
          <p class="text-white ml-2">Miguel Diaz</p>
        </div>
      </div>

    </header>

    <main class="flex justify-center mt-6">
      <div class="w-[80%] ">

        <!--PUBLICACIONES-->
        <div class="w-[60%] flex justify-center">
          <div class="w-full h-16 flex justify-center">
            <div class="ml-1 flex items-center p-4 bg-oscuro-950 rounded-lg text-white">
              <img src="https://www.pngarts.com/files/5/Avatar-Face-Transparent.png" alt="foto" class="w-[8%]">
              <input type="text" placeholder="Escribe tu mensaje" class="ml-4 bg-oscuro-900 rounded-3xl p-2 w-[80%]">
              <i class="fa-solid fa-camera-retro fa-lg w-[8%] ml-6"></i>
            </div>
          </div>
        </div>

        <!--ASIDE-->
        <div class="w-[30%]">
          
        </div>
      </div>
    </main>
    
</body>
</html>