<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                'tema': {
                    '50': 'oklch(98.44% 0.02 193.34)',
                    '100': 'oklch(96.41% 0.05 194.85)',
                    '200': 'oklch(94.03% 0.09 195.70)',
                    '300': 'oklch(90.95% 0.13 196.87)',
                    '400': 'oklch(86.53% 0.15 204.02)',
                    '500': 'oklch(78.66% 0.13 207.00)',
                    '600': 'oklch(66.93% 0.12 213.27)',
                    '700': 'oklch(56.51% 0.10 215.77)',
                    '800': 'oklch(48.17% 0.08 217.74)',
                    '900': 'oklch(42.42% 0.07 219.77)',
                    '950': 'oklch(32.36% 0.06 222.22)',
                },
                'temaDark': {
                    '50': 'oklch(98.54% 0.02 187.35)',
                    '100': 'oklch(96.09% 0.06 188.03)',
                    '200': 'oklch(93.04% 0.10 186.56)',
                    '300': 'oklch(88.94% 0.14 188.60)',
                    '400': 'oklch(83.12% 0.14 190.79)',
                    '500': 'oklch(75.00% 0.13 192.20)',
                    '600': 'oklch(64.16% 0.11 193.99)',
                    '700': 'oklch(54.09% 0.09 195.77)',
                    '800': 'oklch(45.45% 0.07 197.35)',
                    '900': 'oklch(39.71% 0.06 198.03)',
                    '950': 'oklch(26.31% 0.04 202.00)',
                },

              }
            }
          }
        }
      </script>
</head>
<body>
    <header class="bg-red-200">

    </header>
    
</body>
</html>