:root {
    --jordy-blue-50: #eef7ff;
    --jordy-blue-100: #daebff;
    --jordy-blue-200: #bdddff;
    --jordy-blue-300: #90c9ff;
    --jordy-blue-400: #57a8ff;
    --jordy-blue-500: #3588fc;
    --jordy-blue-600: #1f68f1;
    --jordy-blue-700: #1752de;
    --jordy-blue-800: #1943b4;
    --jordy-blue-900: #1a3c8e;
    --jordy-blue-950: #152656;
}


